/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/* Styling */

body{
    background-color: #F0F8FF;
}

.bodyAlice{
    background-color: #F0F8FF;
}

.signUpBtn{
    background-color: #00A896; 
    color: #FFFFFF;
}

.signUpBtn:hover{
    background-color: #00a897bc; 
    color: #FFFFFF;
}

.textLapis{
    color: #05668D;
}

.bgTeal{
    background-color: #00808F;
}

.banButton{
    background-color: #00808F;
}

.textAlice{
    color: #F0F8FF
}

.logInBtn{
    background-color: #02C39A; 
    color: #FFFFFF;
}

.logInBtn:hover{
    background-color: #02c399cb; 
    color: #FFFFFF;
}

.remove_btn{
    background-color: #FF6666;
    color: #F0F8FF;
    border-radius: 12px;
}

.edit_btn{
    background-color: #00808F;
    color: #F0F8FF;
    border-radius: 12px;
}

.edit_btn:hover{
    background-color: #0e98a7;
    color: #F0F8FF;
    border-radius: 12px;
}

#logInCardSize{
    width: 35rem; 
    height: 24rem;
}

#logInTextSize{
    height: 20px; 
    visibility: visible;
}

#backToCart{
    background-color: #0a95a4;
    color: #F0F8FF;
}

#backToCart:hover{
    background-color: #00808F;
    color: #F0F8FF;
}

#reviewCardHead{
    height: auto;
}

#commentField {
    height: 100px;
}

#ratingField {
    width: 110px;
}



/* Fonts and Text */

.kanit {
    font-family: "Kanit", serif;
    font-weight: 400;
    font-style: normal;
}

.courier {
    font-family: "Courier", serif;
    font-weight: 400;
    font-style: normal;
}

.noUnderline {
    text-decoration: none;
}

.noBorder {
    border: none;
}