<nav class="navbar" style = "background-color: #F0F8FF;">
  <div class="container-fluid">
    <a class="navbar-brand" style = "color: #05668D;">Technoflare</a>
    <form class="d-flex" role="search">
      
      <button class="btn bg-success text-light" type="submit">Login</button>
    </form>
  </div>
</nav>